
/*
h1 {
    color: aqua;
    font-size: 35px;
}
*/
h1{

}
/*
h2{
    color: brown;
    font-size: 25px;
}
    */
    h2{

    }
/*
h3{
    color:green;
    font-size: 20px;

}
*/
h3{
/*
}
h4{
    color: antiquewhite;
    font-size: 15px;
}
*/
h4
{
    
}
h3{
}

